<div class="container">
  <div class="choices">
    <mat-button-toggle-group [(ngModel)]="queryChoice" aria-label="Query Choices">
      <mat-button-toggle value="restaurants">restaurants</mat-button-toggle>
      <mat-button-toggle value="restaurantByName">restaurantByName</mat-button-toggle>
      <mat-button-toggle value="createRestaurant">createRestaurant</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="query-container">
    <ng-container *ngIf="!queryChoice">
      Choose a query option
    </ng-container>
    <ng-container *ngIf="queryChoice === 'restaurants'">
      <button mat-raised-button (click)="getRestaurants()">Get all restaurants</button>
      <ul *ngIf="(restaurants$ | async)?.length !== 0">
        <li *ngFor="let restaurant of restaurants$ | async">
          <span [style.font-weight]="900">{{ restaurant.name }}.</span>
          <span>{{ restaurant.address.city }},</span>
          <span>{{ restaurant.address.state }}</span>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="queryChoice === 'restaurantByName'">
      <form class="restaurant-name-form" [formGroup]="restaurantNameForm" (ngSubmit)="getRestaurantByName()">
        <mat-form-field appearance="fill">
          <mat-input>
            <mat-label>Restaurant name</mat-label>
            <input matInput formControlName="restaurantName">
          </mat-input>
        </mat-form-field>
        <button mat-raised-button type="submit">Submit</button>
      </form>
      <ul *ngIf="restaurantNameResult$ | async">
        <li>{{ restaurantNameResult$ | async }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="queryChoice === 'createRestaurant'">
      <form class="create-restaurant-form" [formGroup]="createRestaurantForm" (ngSubmit)="createRestaurant()">
        <mat-form-field appearance="fill">
          <mat-input>
            <mat-label>Restaurant name</mat-label>
            <input matInput formControlName="name">
          </mat-input>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-input>
            <mat-label>Street address</mat-label>
            <input matInput formControlName="street_address">
          </mat-input>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-input>
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
          </mat-input>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-input>
            <mat-label>State</mat-label>
            <input matInput formControlName="state">
          </mat-input>
        </mat-form-field>
        <button mat-raised-button type="submit">Submit</button>
      </form>
      <ul *ngIf="createRestaurantResult$ | async">
        <li>{{ createRestaurantResult$ | async }}</li>
      </ul>
    </ng-container>
  </div>
</div>
